/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #E5E5E5, #2F303A, #F5F4FA */

:root {
  --primaru-text-color: #757575;
  --title-text-color: #212121;
  --hero-title: #ffffff;
  --accent-color: #2196f3;
}
body {
  background-color: #ffffff;
  color: var(--primaru-text-color);
}

.list {
  list-style: none;
}
a {
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
}
.colortext {
  color: var(--title-text-color);
}

/* Site-nav*/

.site-nav .link {
  color: var(--accent-color);
}
.site-nav .link-a {
  color: ;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link-a:hover,
.site-nav .link-a:focus {
  color: var(--accent-color);
}

.hero {
  color: var(--hero-title);
  background-color: #2f303a;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
}

.feature-list .title {
  color: var(--title-text-color);
}

.section-title {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
}

.command {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}

.Basement {
  color: var(--accent-color);
  background-color: #2f303a;
}

.logo-2 {
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
}

.colortextwhite {
  color: var(--hero-title);
}
.address-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  color: var(--hero-title);
}

.mailtel {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}
